{% extends '@Shop/layout.html.twig' %}
{% trans_default_domain 'ShopBundle' %}

{% block title %}
    {{ 'layout.navbar.sitename'|trans }} - {{ 'categories.menu.header'|trans }}
{% endblock title %}

{# {% block page_content -%}
    {% if slides|length %}
        {{ include('@Shop/Partials/slidesBlock.html.twig') }}
    {% endif %}
    <div class="row">
        <div class="col-md-12">
            <div class="well">
                {% if news | length %}
                    <h4>
                        <strong>{{ news.title }}</strong>
                    </h4>
                    <div>
                        {{ news.text|rawdescr|nl2br }}
                    </div>
                    <p class="pull-right">{{ news.date|date() }}</p>
                {% else %}
                    {{ 'news.nonews'|trans }}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">{{ 'layout.index.latestproducts'|trans }}</h3>
            {% for product in latest_products %}
                {{ include('@Shop/Partials/productPreview.html.twig') }}
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">{{ 'layout.index.featuredproducts'|trans }}</h3>
            {% for product in featured_products %}
                {{ include('@Shop/Partials/productPreview.html.twig') }}
            {% endfor %}
        </div>
    </div>
{% endblock page_content %} #}

{% block page_content -%}
        <!-- START PAGE CONTENT -->
        <section id="page-content" class="page-wrapper">

            <!-- BANNER-SECTION START -->
            <div class="banner-section ptb-60">
                <div class="container">
                    <div class="row">
                        <!-- banner-item start -->
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="banner-item banner-2">
                                
                                {% for product in latest_products | slice (0,1) %}
                                <div class="banner-img">
                                    <a href="{{ path('show_product', {'slug' : product.slug}) }}">
                                        {% if product.images|length %}
                                        <img src="{{ asset ('uploads/gallery/' ~ product.images.first().path) }}" alt="{{ product.name }}"/>
                                        {% else %}
                                        <img src="{{ asset ('assets/shop/img/banner/2.jpg') }}" alt="{{ product.name }}"/>
                                        {% endif %}
                                    </a>
                                </div>
                                <h3 class="banner-title-2"><a href="#">{{ product.name }}</a></h3>
                                <h3 class="pro-price">$ {{ product.price }}</h3>
                                <div class="banner-button">
                                   <a href="{{ path('show_product', {'slug' : product.slug}) }}">Shop now <i class="zmdi zmdi-long-arrow-right"></i></a> 
                                </div>
                                {% endfor %}

                            </div>
                        </div>
                        <!-- banner-item end -->
                        <!-- banner-item start -->
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="banner-item banner-3">
                            {% for product in latest_products | slice (3,1) %}
                                <div class="banner-img">
                                    <a href="{{ path('category', {'slug' : product.category.slug}) }}">
                                        {% if product.images|length %}
                                        <img src="{{ asset ('uploads/gallery/' ~ product.images.first().path) }}" alt="{{ product.name }}"/>
                                        {% else %}
                                        <img src="{{ asset ('assets/shop/img/banner/3.jpg') }}" alt="{{ product.name }}"/>
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="banner-info">
                                    <h3 class="banner-title-2"><a href="{{ path('category', {'slug' : product.category.slug}) }}">{{ product.name }}</a></h3>
                                    <ul class="banner-featured-list">
                                        <li>
                                            <i class="zmdi zmdi-check"></i><span>Lorem ipsum dolor</span>
                                        </li>
                                        <li>
                                            <i class="zmdi zmdi-check"></i><span>amet, consectetur</span>
                                        </li>
                                        <li>
                                            <i class="zmdi zmdi-check"></i><span>adipisicing elitest,</span>
                                        </li>
                                        <li>
                                            <i class="zmdi zmdi-check"></i><span>eiusmod tempor</span>
                                        </li>
                                        <li>
                                            <i class="zmdi zmdi-check"></i><span>labore et dolore.</span>
                                        </li>
                                    </ul>
                                    <div class="banner-button">
                                       <a href="{{ path('category', {'slug' : product.category.slug}) }}">Discover <i class="zmdi zmdi-long-arrow-right"></i></a> 
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                        </div> 
                        <!-- banner-item end -->
                        <!-- banner-item start -->
                        <div class="col-md-4 hidden-sm col-xs-12">
                            <div class="banner-item banner-4">
                            {% for product in latest_products | slice (4,1) %}
                                <div class="banner-img">
                                    <a href="{{ path('category', {'slug' : product.category.slug}) }}">
                                        {% if product.images|length %}
                                        <img src="{{ asset ('uploads/gallery/' ~ product.images.first().path) }}" alt="{{ product.name }}"/>
                                        {% else %}
                                        <img src="{{ asset ('assets/shop/img/banner/4.jpg') }}" alt="{{ product.name }}"/>
                                        {% endif %}
                                    </a>
                                </div>
                                <h3 class="banner-title-2"><a href="#">{{ product.category.name }}</a></h3>
                                <div class="banner-button">
                                   <a href="{{ path('category', {'slug' : product.category.slug}) }}">Shop now <i class="zmdi zmdi-long-arrow-right"></i></a> 
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                        <!-- banner-item end -->
                    </div>
                </div>
            </div> 
            <!-- BANNER-SECTION END --> 

            <!-- FEATURED PRODUCT SECTION START -->
            <div class="featured-product-section section-bg-tb pt-80 pb-55">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-title text-left mb-20">
                                <h2 class="uppercase">new products</h2>
                                <h6>There are many variations of passages of brands available,</h6>
                            </div>
                        </div>
                    </div>
                    <div class="featured-product">
                        <div class="row active-featured-product slick-arrow-2">
                            {% for product in latest_products  %}
                                {{ include('@Shop/Partials/productPreview.html.twig') }}
                            {% endfor %}
                        </div>
                    </div>          
                </div>            
            </div>
            <!-- FEATURED PRODUCT SECTION END -->

            <!-- UP COMMING PRODUCT SECTION START -->
            {# <div class="up-comming-product-section ptb-60">
                <div class="container">
                    <div class="row">
                        <!-- up-comming-pro -->
                        <div class="col-md-8 col-sm-12 col-xs-12">
                            <div class="up-comming-pro gray-bg up-comming-pro-2 clearfix">
                                <div class="up-comming-pro-img f-left">
                                    <a href="#">
                                        <img src="img/up-comming/2.jpg" alt="">
                                    </a>
                                </div>
                                <div class="up-comming-pro-info f-left">
                                    <h3><a href="#">Dummy Product Name</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elitest, sed do eiusmod tempor incididunt ut labore et dolores top magna aliqua. Ut enim ad minim veniam, quis nostrud exer citation ullamco laboris nisi ut aliquip ex ea commodo consequat. laborum. </p>
                                    <div class="up-comming-time-2 clearfix">
                                        <div data-countdown="2017/01/15"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 hidden-sm col-xs-12">
                            <div class="banner-item banner-1">
                                <div class="ribbon-price">
                                    <span>$ 896.00</span>
                                </div>
                                <div class="banner-img">
                                    <a href="#"><img src="img/banner/1.jpg" alt=""></a>
                                </div>
                                <div class="banner-info">
                                    <h3><a href="#">Product Name</a></h3>
                                    <ul class="banner-featured-list">
                                        <li>
                                            <i class="zmdi zmdi-check"></i><span>Lorem ipsum dolor</span>
                                        </li>
                                        <li>
                                            <i class="zmdi zmdi-check"></i><span>amet, consectetur</span>
                                        </li>
                                        <li>
                                            <i class="zmdi zmdi-check"></i><span>adipisicing elitest,</span>
                                        </li>
                                        <li>
                                            <i class="zmdi zmdi-check"></i><span>eiusmod tempor</span>
                                        </li>
                                        <li>
                                            <i class="zmdi zmdi-check"></i><span>labore et dolore.</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> #}
            <!-- UP COMMING PRODUCT SECTION END -->

            <!-- PRODUCT TAB SECTION START -->
            <div class="product-tab-section section-bg-tb pt-80 pb-55">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="section-title text-left mb-40">
                                <h2 class="uppercase">product list</h2>
                                <h6>There are many variations of passages of brands available,</h6>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="pro-tab-menu pro-tab-menu-2 text-right">
                                <!-- Nav tabs -->
                                <ul class="" >
                                    <li class="active"><a href="#popular-product" data-toggle="tab">Popular Products </a></li>
                                    <li><a href="#new-arrival" data-toggle="tab">New Arrival</a></li>
                                    <li><a href="#best-seller"  data-toggle="tab">Best Seller</a></li>
                                    <li><a href="#special-offer"  data-toggle="tab">Special Offer</a></li>
                                </ul>
                            </div>                       
                        </div>
                    </div>
                    <div class="product-tab">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <!-- popular-product start -->
                            <div class="tab-pane active" id="popular-product">
                                <div class="row">
                                    <!-- product-item start -->
                                        
                                        {% for product in latest_products | slice (0 , 8) %}
                                        <div class="col-md-3 col-sm-4 col-xs-12">
                                         {{ include('@Shop/Partials/productPreview.html.twig') }}
                                         </div>
                                        
                                        {% endfor %}
                                    
                                    <!-- product-item end -->
                                    
                                </div>
                            </div>
                            <!-- popular-product end -->
                            <!-- new-arrival start -->
                            {# <div class="tab-pane" id="new-arrival">
                                <div class="row">
                                    <!-- product-item start -->
                                    <div class="col-md-3 col-sm-4 col-xs-12">
                                        <div class="product-item product-item-2">
                                            <div class="product-img">
                                                <a href="single-product.html">
                                                    <img src="img/product-2/7.jpg" alt=""/>
                                                </a>
                                            </div>
                                            <div class="product-info">
                                                <h6 class="product-title">
                                                    <a href="single-product.html">Product Name</a>
                                                </h6>
                                                <h6 class="brand-name">Sumsung</h6>
                                                <h3 class="pro-price">$ 869.00</h3>
                                            </div>
                                            <ul class="action-button">
                                                <li>
                                                    <a href="#" title="Wishlist"><i class="zmdi zmdi-favorite"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" data-toggle="modal"  data-target="#productModal" title="Quickview"><i class="zmdi zmdi-zoom-in"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- product-item end -->
                                    <!-- product-item start -->
                                    <div class="col-md-3 col-sm-4 col-xs-12">
                                        <div class="product-item product-item-2">
                                            <div class="product-img">
                                                <a href="single-product.html">
                                                    <img src="img/product-2/6.jpg" alt=""/>
                                                </a>
                                            </div>
                                            <div class="product-info">
                                                <h6 class="product-title">
                                                    <a href="single-product.html">Product Name</a>
                                                </h6>
                                                <h6 class="brand-name">Sumsung</h6>
                                                <h3 class="pro-price">$ 869.00</h3>
                                            </div>
                                            <ul class="action-button">
                                                <li>
                                                    <a href="#" title="Wishlist"><i class="zmdi zmdi-favorite"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" data-toggle="modal"  data-target="#productModal" title="Quickview"><i class="zmdi zmdi-zoom-in"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- product-item end -->
                                    <!-- product-item start -->
                                    <div class="col-md-3 col-sm-4 col-xs-12">
                                        <div class="product-item product-item-2">
                                            <div class="product-img">
                                                <a href="single-product.html">
                                                    <img src="img/product-2/5.jpg" alt=""/>
                                                </a>
                                            </div>
                                            <div class="product-info">
                                                <h6 class="product-title">
                                                    <a href="single-product.html">Product Name</a>
                                                </h6>
                                                <h6 class="brand-name">Sumsung</h6>
                                                <h3 class="pro-price">$ 869.00</h3>
                                            </div>
                                            <ul class="action-button">
                                                <li>
                                                    <a href="#" title="Wishlist"><i class="zmdi zmdi-favorite"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" data-toggle="modal"  data-target="#productModal" title="Quickview"><i class="zmdi zmdi-zoom-in"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- product-item end -->
                                    <!-- product-item start -->
                                    <div class="col-md-3 col-sm-4 col-xs-12">
                                        <div class="product-item product-item-2">
                                            <div class="product-img">
                                                <a href="single-product.html">
                                                    <img src="img/product-2/4.jpg" alt=""/>
                                                </a>
                                            </div>
                                            <div class="product-info">
                                                <h6 class="product-title">
                                                    <a href="single-product.html">Product Name</a>
                                                </h6>
                                                <h6 class="brand-name">Sumsung</h6>
                                                <h3 class="pro-price">$ 869.00</h3>
                                            </div>
                                            <ul class="action-button">
                                                <li>
                                                    <a href="#" title="Wishlist"><i class="zmdi zmdi-favorite"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" data-toggle="modal"  data-target="#productModal" title="Quickview"><i class="zmdi zmdi-zoom-in"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- product-item end -->
                                    <!-- product-item start -->
                                    <div class="col-md-3 col-sm-4 col-xs-12">
                                        <div class="product-item product-item-2">
                                            <div class="product-img">
                                                <a href="single-product.html">
                                                    <img src="img/product-2/3.jpg" alt=""/>
                                                </a>
                                            </div>
                                            <div class="product-info">
                                                <h6 class="product-title">
                                                    <a href="single-product.html">Product Name</a>
                                                </h6>
                                                <h6 class="brand-name">Sumsung</h6>
                                                <h3 class="pro-price">$ 869.00</h3>
                                            </div>
                                            <ul class="action-button">
                                                <li>
                                                    <a href="#" title="Wishlist"><i class="zmdi zmdi-favorite"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" data-toggle="modal"  data-target="#productModal" title="Quickview"><i class="zmdi zmdi-zoom-in"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- product-item end -->
                                    <!-- product-item start -->
                                    <div class="col-md-3 col-sm-4 col-xs-12">
                                        <div class="product-item product-item-2">
                                            <div class="product-img">
                                                <a href="single-product.html">
                                                    <img src="img/product-2/2.jpg" alt=""/>
                                                </a>
                                            </div>
                                            <div class="product-info">
                                                <h6 class="product-title">
                                                    <a href="single-product.html">Product Name</a>
                                                </h6>
                                                <h6 class="brand-name">Sumsung</h6>
                                                <h3 class="pro-price">$ 869.00</h3>
                                            </div>
                                            <ul class="action-button">
                                                <li>
                                                    <a href="#" title="Wishlist"><i class="zmdi zmdi-favorite"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" data-toggle="modal"  data-target="#productModal" title="Quickview"><i class="zmdi zmdi-zoom-in"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- product-item end -->
                                    <!-- product-item start -->
                                    <div class="col-md-3 hidden-sm col-xs-12">
                                        <div class="product-item product-item-2">
                                            <div class="product-img">
                                                <a href="single-product.html">
                                                    <img src="img/product-2/1.jpg" alt=""/>
                                                </a>
                                            </div>
                                            <div class="product-info">
                                                <h6 class="product-title">
                                                    <a href="single-product.html">Product Name</a>
                                                </h6>
                                                <h6 class="brand-name">Sumsung</h6>
                                                <h3 class="pro-price">$ 869.00</h3>
                                            </div>
                                            <ul class="action-button">
                                                <li>
                                                    <a href="#" title="Wishlist"><i class="zmdi zmdi-favorite"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" data-toggle="modal"  data-target="#productModal" title="Quickview"><i class="zmdi zmdi-zoom-in"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- product-item end -->
                                    <!-- product-item start -->
                                    <div class="col-md-3 hidden-sm col-xs-12">
                                        <div class="product-item product-item-2">
                                            <div class="product-img">
                                                <a href="single-product.html">
                                                    <img src="img/product-2/7.jpg" alt=""/>
                                                </a>
                                            </div>
                                            <div class="product-info">
                                                <h6 class="product-title">
                                                    <a href="single-product.html">Product Name</a>
                                                </h6>
                                                <h6 class="brand-name">Sumsung</h6>
                                                <h3 class="pro-price">$ 869.00</h3>
                                            </div>
                                            <ul class="action-button">
                                                <li>
                                                    <a href="#" title="Wishlist"><i class="zmdi zmdi-favorite"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" data-toggle="modal"  data-target="#productModal" title="Quickview"><i class="zmdi zmdi-zoom-in"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- product-item end -->
                                </div>                                        
                            </div> #}
                            <!-- new-arrival end -->
                            <!-- best-seller start -->
                            {# <div class="tab-pane" id="best-seller">
                                <div class="row">
                                    <!-- product-item start -->
                                    <div class="col-md-3 col-sm-4 col-xs-12">
                                        <div class="product-item product-item-2">
                                            <div class="product-img">
                                                <a href="single-product.html">
                                                    <img src="img/product-2/1.jpg" alt=""/>
                                                </a>
                                            </div>
                                            <div class="product-info">
                                                <h6 class="product-title">
                                                    <a href="single-product.html">Product Name</a>
                                                </h6>
                                                <h6 class="brand-name">Sumsung</h6>
                                                <h3 class="pro-price">$ 869.00</h3>
                                            </div>
                                            <ul class="action-button">
                                                <li>
                                                    <a href="#" title="Wishlist"><i class="zmdi zmdi-favorite"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" data-toggle="modal"  data-target="#productModal" title="Quickview"><i class="zmdi zmdi-zoom-in"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- product-item end -->
                                    <!-- product-item start -->
                                    <div class="col-md-3 col-sm-4 col-xs-12">
                                        <div class="product-item product-item-2">
                                            <div class="product-img">
                                                <a href="single-product.html">
                                                    <img src="img/product-2/4.jpg" alt=""/>
                                                </a>
                                            </div>
                                            <div class="product-info">
                                                <h6 class="product-title">
                                                    <a href="single-product.html">Product Name</a>
                                                </h6>
                                                <h6 class="brand-name">Sumsung</h6>
                                                <h3 class="pro-price">$ 869.00</h3>
                                            </div>
                                            <ul class="action-button">
                                                <li>
                                                    <a href="#" title="Wishlist"><i class="zmdi zmdi-favorite"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" data-toggle="modal"  data-target="#productModal" title="Quickview"><i class="zmdi zmdi-zoom-in"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- product-item end -->
                                    <!-- product-item start -->
                                    <div class="col-md-3 col-sm-4 col-xs-12">
                                        <div class="product-item product-item-2">
                                            <div class="product-img">
                                                <a href="single-product.html">
                                                    <img src="img/product-2/7.jpg" alt=""/>
                                                </a>
                                            </div>
                                            <div class="product-info">
                                                <h6 class="product-title">
                                                    <a href="single-product.html">Product Name</a>
                                                </h6>
                                                <h6 class="brand-name">Sumsung</h6>
                                                <h3 class="pro-price">$ 869.00</h3>
                                            </div>
                                            <ul class="action-button">
                                                <li>
                                                    <a href="#" title="Wishlist"><i class="zmdi zmdi-favorite"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" data-toggle="modal"  data-target="#productModal" title="Quickview"><i class="zmdi zmdi-zoom-in"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- product-item end -->
                                    <!-- product-item start -->
                                    <div class="col-md-3 col-sm-4 col-xs-12">
                                        <div class="product-item product-item-2">
                                            <div class="product-img">
                                                <a href="single-product.html">
                                                    <img src="img/product-2/5.jpg" alt=""/>
                                                </a>
                                            </div>
                                            <div class="product-info">
                                                <h6 class="product-title">
                                                    <a href="single-product.html">Product Name</a>
                                                </h6>
                                                <h6 class="brand-name">Sumsung</h6>
                                                <h3 class="pro-price">$ 869.00</h3>
                                            </div>
                                            <ul class="action-button">
                                                <li>
                                                    <a href="#" title="Wishlist"><i class="zmdi zmdi-favorite"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" data-toggle="modal"  data-target="#productModal" title="Quickview"><i class="zmdi zmdi-zoom-in"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- product-item end -->
                                    <!-- product-item start -->
                                    <div class="col-md-3 col-sm-4 col-xs-12">
                                        <div class="product-item product-item-2">
                                            <div class="product-img">
                                                <a href="single-product.html">
                                                    <img src="img/product-2/6.jpg" alt=""/>
                                                </a>
                                            </div>
                                            <div class="product-info">
                                                <h6 class="product-title">
                                                    <a href="single-product.html">Product Name</a>
                                                </h6>
                                                <h6 class="brand-name">Sumsung</h6>
                                                <h3 class="pro-price">$ 869.00</h3>
                                            </div>
                                            <ul class="action-button">
                                                <li>
                                                    <a href="#" title="Wishlist"><i class="zmdi zmdi-favorite"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" data-toggle="modal"  data-target="#productModal" title="Quickview"><i class="zmdi zmdi-zoom-in"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- product-item end -->
                                    <!-- product-item start -->
                                    <div class="col-md-3 col-sm-4 col-xs-12">
                                        <div class="product-item product-item-2">
                                            <div class="product-img">
                                                <a href="single-product.html">
                                                    <img src="img/product-2/2.jpg" alt=""/>
                                                </a>
                                            </div>
                                            <div class="product-info">
                                                <h6 class="product-title">
                                                    <a href="single-product.html">Product Name</a>
                                                </h6>
                                                <h6 class="brand-name">Sumsung</h6>
                                                <h3 class="pro-price">$ 869.00</h3>
                                            </div>
                                            <ul class="action-button">
                                                <li>
                                                    <a href="#" title="Wishlist"><i class="zmdi zmdi-favorite"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" data-toggle="modal"  data-target="#productModal" title="Quickview"><i class="zmdi zmdi-zoom-in"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- product-item end -->
                                    <!-- product-item start -->
                                    <div class="col-md-3 hidden-sm col-xs-12">
                                        <div class="product-item product-item-2">
                                            <div class="product-img">
                                                <a href="single-product.html">
                                                    <img src="img/product-2/3.jpg" alt=""/>
                                                </a>
                                            </div>
                                            <div class="product-info">
                                                <h6 class="product-title">
                                                    <a href="single-product.html">Product Name</a>
                                                </h6>
                                                <h6 class="brand-name">Sumsung</h6>
                                                <h3 class="pro-price">$ 869.00</h3>
                                            </div>
                                            <ul class="action-button">
                                                <li>
                                                    <a href="#" title="Wishlist"><i class="zmdi zmdi-favorite"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" data-toggle="modal"  data-target="#productModal" title="Quickview"><i class="zmdi zmdi-zoom-in"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- product-item end -->
                                    <!-- product-item start -->
                                    <div class="col-md-3 hidden-sm col-xs-12">
                                        <div class="product-item product-item-2">
                                            <div class="product-img">
                                                <a href="single-product.html">
                                                    <img src="img/product-2/4.jpg" alt=""/>
                                                </a>
                                            </div>
                                            <div class="product-info">
                                                <h6 class="product-title">
                                                    <a href="single-product.html">Product Name</a>
                                                </h6>
                                                <h6 class="brand-name">Sumsung</h6>
                                                <h3 class="pro-price">$ 869.00</h3>
                                            </div>
                                            <ul class="action-button">
                                                <li>
                                                    <a href="#" title="Wishlist"><i class="zmdi zmdi-favorite"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" data-toggle="modal"  data-target="#productModal" title="Quickview"><i class="zmdi zmdi-zoom-in"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- product-item end -->
                                </div>                                        
                            </div> #}
                            <!-- best-seller end -->
                            <!-- special-offer start -->
                            {# <div class="tab-pane" id="special-offer">
                                <div class="row">
                                    <!-- product-item start -->
                                    <div class="col-md-3 col-sm-4 col-xs-12">
                                        <div class="product-item product-item-2">
                                            <div class="product-img">
                                                <a href="single-product.html">
                                                    <img src="img/product-2/3.jpg" alt=""/>
                                                </a>
                                            </div>
                                            <div class="product-info">
                                                <h6 class="product-title">
                                                    <a href="single-product.html">Product Name</a>
                                                </h6>
                                                <h6 class="brand-name">Sumsung</h6>
                                                <h3 class="pro-price">$ 869.00</h3>
                                            </div>
                                            <ul class="action-button">
                                                <li>
                                                    <a href="#" title="Wishlist"><i class="zmdi zmdi-favorite"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" data-toggle="modal"  data-target="#productModal" title="Quickview"><i class="zmdi zmdi-zoom-in"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- product-item end -->
                                    <!-- product-item start -->
                                    <div class="col-md-3 col-sm-4 col-xs-12">
                                        <div class="product-item product-item-2">
                                            <div class="product-img">
                                                <a href="single-product.html">
                                                    <img src="img/product-2/1.jpg" alt=""/>
                                                </a>
                                            </div>
                                            <div class="product-info">
                                                <h6 class="product-title">
                                                    <a href="single-product.html">Product Name</a>
                                                </h6>
                                                <h6 class="brand-name">Sumsung</h6>
                                                <h3 class="pro-price">$ 869.00</h3>
                                            </div>
                                            <ul class="action-button">
                                                <li>
                                                    <a href="#" title="Wishlist"><i class="zmdi zmdi-favorite"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" data-toggle="modal"  data-target="#productModal" title="Quickview"><i class="zmdi zmdi-zoom-in"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- product-item end -->
                                    <!-- product-item start -->
                                    <div class="col-md-3 col-sm-4 col-xs-12">
                                        <div class="product-item product-item-2">
                                            <div class="product-img">
                                                <a href="single-product.html">
                                                    <img src="img/product-2/2.jpg" alt=""/>
                                                </a>
                                            </div>
                                            <div class="product-info">
                                                <h6 class="product-title">
                                                    <a href="single-product.html">Product Name</a>
                                                </h6>
                                                <h6 class="brand-name">Sumsung</h6>
                                                <h3 class="pro-price">$ 869.00</h3>
                                            </div>
                                            <ul class="action-button">
                                                <li>
                                                    <a href="#" title="Wishlist"><i class="zmdi zmdi-favorite"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" data-toggle="modal"  data-target="#productModal" title="Quickview"><i class="zmdi zmdi-zoom-in"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- product-item end -->
                                    <!-- product-item start -->
                                    <div class="col-md-3 col-sm-4 col-xs-12">
                                        <div class="product-item product-item-2">
                                            <div class="product-img">
                                                <a href="single-product.html">
                                                    <img src="img/product-2/4.jpg" alt=""/>
                                                </a>
                                            </div>
                                            <div class="product-info">
                                                <h6 class="product-title">
                                                    <a href="single-product.html">Product Name</a>
                                                </h6>
                                                <h6 class="brand-name">Sumsung</h6>
                                                <h3 class="pro-price">$ 869.00</h3>
                                            </div>
                                            <ul class="action-button">
                                                <li>
                                                    <a href="#" title="Wishlist"><i class="zmdi zmdi-favorite"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" data-toggle="modal"  data-target="#productModal" title="Quickview"><i class="zmdi zmdi-zoom-in"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- product-item end -->
                                    <!-- product-item start -->
                                    <div class="col-md-3 col-sm-4 col-xs-12">
                                        <div class="product-item product-item-2">
                                            <div class="product-img">
                                                <a href="single-product.html">
                                                    <img src="img/product-2/5.jpg" alt=""/>
                                                </a>
                                            </div>
                                            <div class="product-info">
                                                <h6 class="product-title">
                                                    <a href="single-product.html">Product Name</a>
                                                </h6>
                                                <h6 class="brand-name">Sumsung</h6>
                                                <h3 class="pro-price">$ 869.00</h3>
                                            </div>
                                            <ul class="action-button">
                                                <li>
                                                    <a href="#" title="Wishlist"><i class="zmdi zmdi-favorite"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" data-toggle="modal"  data-target="#productModal" title="Quickview"><i class="zmdi zmdi-zoom-in"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- product-item end -->
                                    <!-- product-item start -->
                                    <div class="col-md-3 col-sm-4 col-xs-12">
                                        <div class="product-item product-item-2">
                                            <div class="product-img">
                                                <a href="single-product.html">
                                                    <img src="img/product-2/6.jpg" alt=""/>
                                                </a>
                                            </div>
                                            <div class="product-info">
                                                <h6 class="product-title">
                                                    <a href="single-product.html">Product Name</a>
                                                </h6>
                                                <h6 class="brand-name">Sumsung</h6>
                                                <h3 class="pro-price">$ 869.00</h3>
                                            </div>
                                            <ul class="action-button">
                                                <li>
                                                    <a href="#" title="Wishlist"><i class="zmdi zmdi-favorite"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" data-toggle="modal"  data-target="#productModal" title="Quickview"><i class="zmdi zmdi-zoom-in"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- product-item end -->
                                    <!-- product-item start -->
                                    <div class="col-md-3 hidden-sm col-xs-12">
                                        <div class="product-item product-item-2">
                                            <div class="product-img">
                                                <a href="single-product.html">
                                                    <img src="img/product-2/7.jpg" alt=""/>
                                                </a>
                                            </div>
                                            <div class="product-info">
                                                <h6 class="product-title">
                                                    <a href="single-product.html">Product Name</a>
                                                </h6>
                                                <h6 class="brand-name">Sumsung</h6>
                                                <h3 class="pro-price">$ 869.00</h3>
                                            </div>
                                            <ul class="action-button">
                                                <li>
                                                    <a href="#" title="Wishlist"><i class="zmdi zmdi-favorite"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" data-toggle="modal"  data-target="#productModal" title="Quickview"><i class="zmdi zmdi-zoom-in"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- product-item end -->
                                    <!-- product-item start -->
                                    <div class="col-md-3 hidden-sm col-xs-12">
                                        <div class="product-item product-item-2">
                                            <div class="product-img">
                                                <a href="single-product.html">
                                                    <img src="img/product-2/3.jpg" alt=""/>
                                                </a>
                                            </div>
                                            <div class="product-info">
                                                <h6 class="product-title">
                                                    <a href="single-product.html">Product Name</a>
                                                </h6>
                                                <h6 class="brand-name">Sumsung</h6>
                                                <h3 class="pro-price">$ 869.00</h3>
                                            </div>
                                            <ul class="action-button">
                                                <li>
                                                    <a href="#" title="Wishlist"><i class="zmdi zmdi-favorite"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" data-toggle="modal"  data-target="#productModal" title="Quickview"><i class="zmdi zmdi-zoom-in"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" title="Add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- product-item end -->
                                </div>                                        
                            </div> #}
                            <!-- special-offer end -->
                        </div> 
                    </div>
                </div>
            </div>
            <!-- PRODUCT TAB SECTION END -->

            <!-- BLOG SECTION START -->
            {# <div class="blog-section-2 pt-60 pb-30">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-title text-left mb-40">
                                <h2 class="uppercase">Latest blog</h2>
                                <h6>There are many variations of passages of brands available,</h6>
                            </div>
                        </div>
                    </div>
                    <div class="blog">
                        <div class="row active-blog-2">
                            <!-- blog-item start -->
                            <div class="col-xs-12">
                                <div class="blog-item-2">
                                    <div class="row">
                                        <div class="col-md-6 col-xs-12">
                                            <div class="blog-image">
                                                <a href="blog-details.html"><img src="img/blog/4.jpg" alt=""></a>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-xs-12">
                                            <div class="blog-desc">
                                                <h5 class="blog-title-2"><a href="#">dummy Blog name</a></h5>
                                                <p>There are many variations of passages of in psum available, but the majority have sufe ered on in some form...</p>
                                                <div class="read-more">
                                                    <a href="#">Read more</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- blog-item end -->
                            <!-- blog-item start -->
                            <div class="col-xs-12">
                                <div class="blog-item-2">
                                    <div class="row">
                                        <div class="col-md-6 col-xs-12">
                                            <div class="blog-image">
                                                <a href="blog-details.html"><img src="img/blog/5.jpg" alt=""></a>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-xs-12">
                                            <div class="blog-desc">
                                                <h5 class="blog-title-2"><a href="#">dummy Blog name</a></h5>
                                                <p>There are many variations of passages of in psum available, but the majority have sufe ered on in some form...</p>
                                                <div class="read-more">
                                                    <a href="#">Read more</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- blog-item end -->
                            <!-- blog-item start -->
                            <div class="col-xs-12">
                                <div class="blog-item-2">
                                    <div class="row">
                                        <div class="col-md-6 col-xs-12">
                                            <div class="blog-image">
                                                <a href="blog-details.html"><img src="img/blog/4.jpg" alt=""></a>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-xs-12">
                                            <div class="blog-desc">
                                                <h5 class="blog-title-2"><a href="#">dummy Blog name</a></h5>
                                                <p>There are many variations of passages of in psum available, but the majority have sufe ered on in some form...</p>
                                                <div class="read-more">
                                                    <a href="#">Read more</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- blog-item end -->
                        </div>
                    </div>
                </div>
            </div> #}
            <!-- BLOG SECTION END -->   
             
            <!-- NEWSLETTER SECTION START -->
            <div class="newsletter-section section-bg-tb pt-60 pb-80">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 col-xs-12">
                            <div class="newsletter">
                                <div class="newsletter-info text-center">
                                    <h2 class="newsletter-title">get a newsletter</h2>
                                    <p>Make sure that you never miss our interesting news <br class="hidden-xs">by joining our newsletter program.</p>
                                </div>
                                <div class="subcribe clearfix">
                                    <form action="#">
                                        <input type="text" name="email" placeholder="Enter your email here..."/>
                                        <button class="submit-btn-2 btn-hover-2" type="submit">subcribe</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- NEWSLETTER SECTION END -->            
        </section>
        <!-- END PAGE CONTENT -->
{% endblock page_content %}